<header>
  <p><a href="/login">Login</a> | <a href="/logout">Logout</a> | <a href="/register">Register</a> | <a href="/">Home</a></p>
</header>

<form action="/login" method ="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" />
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </p>

  <input type="submit" value="Login" />

</form>
