<header>
  <p><a href="/login">Login</a> | <a href="/logout">Logout</a> | <a href="/register">Register</a> | <a href="/">Home</a></p>
</header>


  <div class="holder left_content" align="left">
      <img src="https://ctl.s6img.com/society6/img/mLupAioJ65Fyr5vjFoA6CpSltSk/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/c851c9ef6d0c4fd4b2af171730d5f9d8/~~/happy-nowruz-iranian-new-year-prints.jpg" class="img-responsive main-image">
  </div>

  <div class="centered">
    <div class="centertext">
      <h1>Eid Didani!</h1>
    <div>
    <div class="sidebar">

      <form action="/login" method ="POST">
        <p>
          <label for="email">Email:</label>
          <input type="text" name="email" />
        </p>

        <p>
          <label for="password">Password:</label>
          <input type="password" name="password" />
        </p>

        <input type="submit" value="Login" />

      </form>
    </div>
  </div>
