
  <div class="centered">
    <form action="/users" method ="POST">
      <p>
        <label for="name">Name:</label><br>
        <input type="text" name="name" />
      </p>

      <p>
        <label for="email">Email:</label><br>
        <input type="text" name="email" />
      </p>

      <p>
        <label for="password">Password:</label><br>
        <input type="password" name="password" />
      </p>

      <input class="button1" type="submit" value="Register" />

    </form>
  </div>
