<head>
  <title>EidDidani</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<header>
  <div class="container logobox">
    <h1 class="name" vertical-align="middle">Eid Didani!</h1>
    <img class="headerimage" src="/images/EidDidaniHaftSeen.png">
  </div>

  <div class="menu_bar">
    <nav class="menu_bar">
      <% if logged_in? %>
          <% if is_admin? %>
            <div class="menu_items"> <a class="menu" href="/households/<%= current_user.household.id %>/manage">    Household    </a> </div>
          <% end %>
        <div class="menu_items"> <a class="menu" href="/households/new">    Create a Household  </a> </div>
        <div class="menu_items"> <a class="menu" href="/families">          Families            </a> </div>
        <div class="menu_items"> <a class="menu" href="/schedule">          Schedule            </a> </div>
        <div class="menu_items"> <a class="menu" href="/logout">            Logout              </a> </div>
      <% else %>
        <div class="menu_items"> <a class="menu" href="/register">    Register    </a> </div>
        <div class="menu_items"> <a class="menu" href="/login">       Login       </a> </div>
        <div class="menu_items"> <a class="menu" href="/">            Home        </a> </div>
      <% end %>
    </nav>
</div>

<%= "<div class='top_notice_red'> #{flash[:notice_red]}</div>" if flash[:notice_red] %>
<%= "<div class='top_notice_green'> #{flash[:notice_green]}</div>" if flash[:notice_green] %>

</header>

<div class="body">
  <%= yield %>
</div>

<footer>
  <p> Roshanak Agahi </p>
</footer>
