<head>
  <title>EidDidani</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<header>
  <div class="container logobox">
    <h1 class="name">Eid Didani!</h1>
    <div class="spacer"> </div>
    <img class="headerimage" src="/images/EidDidaniHaftSeen.png">
  </div>

  <div class="menu_bar">
    <nav class="menu_bar">
      <% if logged_in? %>
        <div class="menu_items"> Logged in as: <%= current_user.email %> </div>
        <div class="menu_items"> <a class="menu" href="/logout">    Logout    </a> </div>
        <div class="menu_items"> <a class="menu" href="/families">  Families  </a> </div>
        <div class="menu_items"> <a class="menu" href="/schedule">  Schedule  </a> </div>
      <% else %>
        <div class="menu_items"> <a class="menu" href="/register">    Register    </a> </div>
        <div class="menu_items"> <a class="menu" href="/login">       Login       </a> </div>
        <div class="menu_items"> <a class="menu" href="/">            Home        </a> </div>
      <% end %>
    </nav>
</div>

<div class="notice">
  <%= "<div class='notice'> #{flash[:notice]}</div>" if flash[:notice] %>
</div>
</header>

<div class="body">
  <%= yield %>
</div>

<footer>
  <p> Roshanak Agahi </p>
</footer>
