<%= session[:user_id] %>

<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <div class="container" align="right">
      <nav>
        <% if logged_in? %>
        Logged in as: <%= current_user.email %> | <a href="/logout">Logout</a>
        <% else %>
        <a href="/register">Register</a> | <a href="/login">Login</a> | <a href="/">Home</a>
        <% end %>
      </nav>

    </div>
    <div class="holder" align="left">
      <img src="https://ctl.s6img.com/society6/img/mLupAioJ65Fyr5vjFoA6CpSltSk/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/c851c9ef6d0c4fd4b2af171730d5f9d8/~~/happy-nowruz-iranian-new-year-prints.jpg" class="img-responsive main-image">
    <div>

    <h1 align="left">Eid Didani!</h1>

    <div align="left" class="content">
      <p>This is an app designed to help organize Persian Nowruz Eid Didanis!
      Those who participate are familiar with the long drives, showing up to a house only to find that your relatives are also out at their eid didanis, and the desperate need to find a restroom after drinking wayyyy too much tea at your auntie's house. </p>
      <p>For more information, see the <a href="https://github.com/rosh-agahi/eid_didani">README</a>.</p>
    </div>

    <div align="right" class="sidebar">
      <h4>Project #2: Sinatra Web App</h4>
      <p>The Flatiron School <br>Online Software Engineer Self-Paced Program</p>
      <ul>
        <li><b>Student:</b> Roshanak Agahi</li>
        <li><b>Date:</b> April 25, 2021</li>
        <li><a href="https://github.com/rosh-agahi/eid_didani"><b>GitHub Link</b></a></li>
      </ul>
    </div>

  </div>
</div>
