<%= session[:user_id] %>

<div class="container2">

  <div class="welcome">
    <h3>Project #2: Sinatra Web App</h3>
    <p>The Flatiron School <br>Online Software Engineer Self-Paced Program</p>
      <p><b>Student:</b> Roshanak Agahi</p>
      <p><b>Date:</b> May 22, 2021</p>
      <p><a href="https://github.com/rosh-agahi/eid_didani"><b>GitHub Link</b></a></p>
    </ul>
  </div>

  <div class="welcome">
      <p>This is an app designed to help organize Persian Nowruz Eid Didanis!
      Those who participate are familiar with the long drives, showing up to a house only to find that your relatives are also out at their eid didanis, and the desperate need to find a restroom after drinking wayyyy too much tea at your auntie's house. </p>
      <p>For more information, see the <a href="https://github.com/rosh-agahi/eid_didani">README</a>.</p>
    </div>

  </div>
</div>
