<form class="form-inline" action="/availabilities" method="POST">
  <label for="name">Date:</label>
  <input type="datetime-local" name="datetime_local" />
  <input type="submit" value="Add" />
</form>
