<h2> My Schedule </h2>

<table>
  <tr>
    <th>Guest/Host</th>
    <th>Household</th>
    <th>Date and Time</th>
    <th>Location</th>
  </tr>


</table>
<% Availability.all.each do |v| %>
<h3>Visiting:</h3>
