
<h1>Create a New Household</h1>

<form action="/households" method ="POST">
  <p>
    <label for="name">Name</label><br>
    <input type="text" name="name" />
  </p>

  <p>
    <label for="address">Address</label><br>
    <input type="text" name="address" />
  </p>

  <input class="button1" type="submit" value="Create Household" />

</form>
